In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Based on Medium
games_per_week = 82/22
benchmarks_50 = {"p/g": 581,
                 "r/g": 217,
                 "a/g": 130,
                 "s/g": 36.5,
                 "b/g": 24,
                 "to/g": 58,
                 "3/g": 70,
                 "fg%": 0.491462,
                 "ft%": 0.811981}
benchmarks_75 = {"p/g": 642.25,
                 "r/g": 234.75,
                 "a/g": 143,
                 "s/g": 41,
                 "b/g": 28.25,
                 "to/g": 52,
                 "3/g": 70,
                 "fg%": 0.505771,
                 "ft%": 0.836771}

In [4]:
benchmark_1 = pd.Series(benchmarks_50)
benchmark_2 = pd.Series(benchmarks_75)

In [5]:
col_names = ["Player", "Team", "Pos", "p/g", "3/g", "r/g", "a/g", "s/g", "b/g", "fg%", "fga/g", "ft%", "fta/g", "to/g"]

In [6]:
cumm_cat = list(benchmarks_50.keys())
perc_cat = ["fg%", "fga/g", "ft%", "fta/g"]

In [7]:
proj_df = pd.read_excel('projection_12_10_25.xlsx')

In [8]:
proj_df = proj_df[col_names]
proj_df["Player"] = proj_df["Player"].str.lower()
proj_df

,Player,Team,Pos,p/g,3/g,r/g,a/g,s/g,b/g,fg%,fga/g,ft%,fta/g,to/g
0,nikola jokic,DEN,C,27.45,1.56,12.35,9.72,1.36,0.78,0.565,18.47,0.820,6.10,3.16
1,shai gilgeous-alexander,OKC,PG/SG,31.69,2.00,5.15,6.38,1.72,0.95,0.517,21.25,0.887,8.71,2.42
2,victor wembanyama,SAS,PF/C,24.60,2.95,11.62,4.16,1.13,3.78,0.484,18.43,0.830,4.61,3.19
3,anthony davis,DAL,PF/C,24.79,0.58,11.12,3.87,1.13,2.13,0.532,17.77,0.785,6.75,2.18
4,luka doncic,LAL,PG/SG,28.79,3.57,8.18,7.99,1.48,0.49,0.458,20.81,0.780,7.91,3.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,jaden ivey,DET,PG/SG,16.04,1.74,3.58,3.58,0.82,0.39,0.458,12.53,0.750,3.76,2.64
169,ace bailey,UTA,SF,12.00,1.23,5.42,1.08,0.79,0.72,0.432,10.72,0.700,2.14,1.52
170,kyle kuzma,MIL,SF/PF,13.52,1.31,4.90,2.18,0.47,0.47,0.465,11.22,0.718,2.47,1.84
171,tre johnson,WAS,SG,12.70,1.94,2.29,1.94,0.69,0.14,0.399,11.36,0.870,1.93,1.51
172,khaman maluach,PHX,C,6.94,0.05,5.01,0.42,0.26,0.84,0.610,4.82,0.750,1.35,0.81

## Team Builder

#### initialization

In [9]:
curr_team = pd.DataFrame(columns=col_names)

In [10]:
def add_player(team, player):
  p = proj_df[proj_df["Player"] == player]
  i = p.index
  for col in col_names[3:]:
    if "%" not in col:
      #p[col] = p[col] * games_per_week
      p.loc[i, col] = p.loc[i, col] * games_per_week
  p.loc[i, "fgm/g"] = p.loc[i, "fg%"] * p.loc[i, "fga/g"]
  p.loc[i, "ftm/g"] = p.loc[i, "ft%"] * p.loc[i, "fta/g"]
  return pd.concat([team, p])

In [11]:
def calc_week(team):
  week_stats = team[cumm_cat].sum()
  fg_sum = team[["fga/g", "fgm/g"]].sum()
  week_stats["fg%"] = fg_sum["fgm/g"] / fg_sum["fga/g"]
  ft_sum = team[["fta/g", "ftm/g"]].sum()
  week_stats["ft%"] = ft_sum["ftm/g"] / ft_sum["fta/g"]
  return week_stats

#### Round 1

In [12]:
curr_team = add_player(curr_team, "karl-anthony towns")

C:\Users\zivaz\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\zivaz\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

In [13]:
curr_team

,Player,Team,Pos,p/g,3/g,r/g,a/g,s/g,b/g,fg%,fga/g,ft%,fta/g,to/g,fgm/g,ftm/g
7,karl-anthony towns,NYK,PF/C,87.926364,7.193636,41.521818,11.629091,3.168182,2.46,0.52,61.276364,0.84,20.239091,9.579091,31.863709,17.000836

In [14]:
week_stats = calc_week(curr_team)

In [15]:
week_stats

p/g     87.926364
r/g     41.521818
a/g     11.629091
s/g      3.168182
b/g      2.460000
to/g     9.579091
3/g      7.193636
fg%      0.520000
ft%      0.840000
dtype: float64

In [16]:
week_stats / benchmark_1

p/g     0.151336
r/g     0.191345
a/g     0.089455
s/g     0.086800
b/g     0.102500
to/g    0.165157
3/g     0.102766
fg%     1.058068
ft%     1.034507
dtype: float64

In [17]:
week_stats / benchmark_2

p/g     0.136904
r/g     0.176877
a/g     0.081322
s/g     0.077273
b/g     0.087080
to/g    0.184213
3/g     0.102766
fg%     1.028133
ft%     1.003859
dtype: float64

#### Round 2

In [18]:
curr_team = add_player(curr_team, "kevin durant")

C:\Users\zivaz\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\zivaz\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

In [19]:
curr_team

,Player,Team,Pos,p/g,3/g,r/g,a/g,s/g,b/g,fg%,fga/g,ft%,fta/g,to/g,fgm/g,ftm/g
7,karl-anthony towns,NYK,PF/C,87.926364,7.193636,41.521818,11.629091,3.168182,2.460000,0.520,61.276364,0.840,20.239091,9.579091,31.863709,17.000836
6,kevin durant,HOU,SF/PF,107.270909,10.138182,21.245455,18.636364,2.981818,4.211818,0.514,74.918182,0.867,23.220909,12.933636,38.507945,20.132528

In [20]:
week_stats = calc_week(curr_team)

In [21]:
week_stats

p/g     195.197273
r/g      62.767273
a/g      30.265455
s/g       6.150000
b/g       6.671818
to/g     22.512727
3/g      17.331818
fg%       0.516700
ft%       0.854426
dtype: float64

In [22]:
week_stats / benchmark_1

p/g     0.335968
r/g     0.289250
a/g     0.232811
s/g     0.168493
b/g     0.277992
to/g    0.388150
3/g     0.247597
fg%     1.051352
ft%     1.052274
dtype: float64

In [23]:
week_stats / benchmark_2

p/g     0.303927
r/g     0.267379
a/g     0.211647
s/g     0.150000
b/g     0.236171
to/g    0.432937
3/g     0.247597
fg%     1.021608
ft%     1.021099
dtype: float64

#### Round 3

In [24]:
curr_team = add_player(curr_team, 'dyson daniels')

C:\Users\zivaz\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\zivaz\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

In [25]:
curr_team

,Player,Team,Pos,p/g,3/g,r/g,a/g,s/g,b/g,fg%,fga/g,ft%,fta/g,to/g,fgm/g,ftm/g
7,karl-anthony towns,NYK,PF/C,87.926364,7.193636,41.521818,11.629091,3.168182,2.460000,0.520,61.276364,0.840,20.239091,9.579091,31.863709,17.000836
6,kevin durant,HOU,SF/PF,107.270909,10.138182,21.245455,18.636364,2.981818,4.211818,0.514,74.918182,0.867,23.220909,12.933636,38.507945,20.132528
11,dyson daniels,ATL,PG/SG,50.989091,3.801818,21.990909,16.400000,9.951818,2.609091,0.484,44.242727,0.620,7.081818,7.380000,21.413480,4.390727

In [26]:
week_stats = calc_week(curr_team)

In [27]:
week_stats

p/g     246.186364
r/g      84.758182
a/g      46.665455
s/g      16.101818
b/g       9.280909
to/g     29.892727
3/g      21.133636
fg%       0.508682
ft%       0.821579
dtype: float64

In [28]:
week_stats / benchmark_1

p/g     0.423729
r/g     0.390591
a/g     0.358965
s/g     0.441146
b/g     0.386705
to/g    0.515392
3/g     0.301909
fg%     1.035038
ft%     1.011820
dtype: float64

In [29]:
week_stats / benchmark_2

p/g     0.383319
r/g     0.361057
a/g     0.326332
s/g     0.392727
b/g     0.328528
to/g    0.574860
3/g     0.301909
fg%     1.005755
ft%     0.981844
dtype: float64

#### Round 4

In [30]:
curr_team = add_player(curr_team, "jamal murray")

C:\Users\zivaz\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\zivaz\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

In [31]:
curr_team

,Player,Team,Pos,p/g,3/g,r/g,a/g,s/g,b/g,fg%,fga/g,ft%,fta/g,to/g,fgm/g,ftm/g
7,karl-anthony towns,NYK,PF/C,87.926364,7.193636,41.521818,11.629091,3.168182,2.460000,0.520,61.276364,0.840,20.239091,9.579091,31.863709,17.000836
6,kevin durant,HOU,SF/PF,107.270909,10.138182,21.245455,18.636364,2.981818,4.211818,0.514,74.918182,0.867,23.220909,12.933636,38.507945,20.132528
11,dyson daniels,ATL,PG/SG,50.989091,3.801818,21.990909,16.400000,9.951818,2.609091,0.484,44.242727,0.620,7.081818,7.380000,21.413480,4.390727
21,jamal murray,DEN,PG/SG,76.819091,9.094545,15.319091,23.519091,4.286364,1.602727,0.467,60.605455,0.873,12.710000,7.752727,28.302747,11.095830

In [32]:
week_stats = calc_week(curr_team)

In [33]:
week_stats

p/g     323.005455
r/g     100.077273
a/g      70.184545
s/g      20.388182
b/g      10.883636
to/g     37.645455
3/g      30.228182
fg%       0.498202
ft%       0.831912
dtype: float64

In [34]:
week_stats / benchmark_1

p/g     0.555947
r/g     0.461186
a/g     0.539881
s/g     0.558580
b/g     0.453485
to/g    0.649060
3/g     0.431831
fg%     1.013713
ft%     1.024546
dtype: float64

In [35]:
week_stats / benchmark_2

p/g     0.502928
r/g     0.426314
a/g     0.490801
s/g     0.497273
b/g     0.385261
to/g    0.723951
3/g     0.431831
fg%     0.985034
ft%     0.994193
dtype: float64

#### Round 5

In [39]:
curr_team = add_player(curr_team, "d'earon fox")

In [40]:
curr_team

,Player,Team,Pos,p/g,3/g,r/g,a/g,s/g,b/g,fg%,fga/g,ft%,fta/g,to/g,fgm/g,ftm/g
7,karl-anthony towns,NYK,PF/C,87.926364,7.193636,41.521818,11.629091,3.168182,2.460000,0.520,61.276364,0.840,20.239091,9.579091,31.863709,17.000836
6,kevin durant,HOU,SF/PF,107.270909,10.138182,21.245455,18.636364,2.981818,4.211818,0.514,74.918182,0.867,23.220909,12.933636,38.507945,20.132528
11,dyson daniels,ATL,PG/SG,50.989091,3.801818,21.990909,16.400000,9.951818,2.609091,0.484,44.242727,0.620,7.081818,7.380000,21.413480,4.390727
21,jamal murray,DEN,PG/SG,76.819091,9.094545,15.319091,23.519091,4.286364,1.602727,0.467,60.605455,0.873,12.710000,7.752727,28.302747,11.095830

In [41]:
week_stats = calc_week(curr_team)

In [42]:
week_stats

p/g     323.005455
r/g     100.077273
a/g      70.184545
s/g      20.388182
b/g      10.883636
to/g     37.645455
3/g      30.228182
fg%       0.498202
ft%       0.831912
dtype: float64

In [43]:
week_stats / benchmark_1

p/g     0.555947
r/g     0.461186
a/g     0.539881
s/g     0.558580
b/g     0.453485
to/g    0.649060
3/g     0.431831
fg%     1.013713
ft%     1.024546
dtype: float64

In [44]:
week_stats / benchmark_2

p/g     0.502928
r/g     0.426314
a/g     0.490801
s/g     0.497273
b/g     0.385261
to/g    0.723951
3/g     0.431831
fg%     0.985034
ft%     0.994193
dtype: float64

#### Round 6

In [45]:
curr_team = add_player(curr_team, 'og anunoby')

C:\Users\zivaz\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\zivaz\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

In [46]:
curr_team

,Player,Team,Pos,p/g,3/g,r/g,a/g,s/g,b/g,fg%,fga/g,ft%,fta/g,to/g,fgm/g,ftm/g
7,karl-anthony towns,NYK,PF/C,87.926364,7.193636,41.521818,11.629091,3.168182,2.460000,0.520,61.276364,0.840,20.239091,9.579091,31.863709,17.000836
6,kevin durant,HOU,SF/PF,107.270909,10.138182,21.245455,18.636364,2.981818,4.211818,0.514,74.918182,0.867,23.220909,12.933636,38.507945,20.132528
11,dyson daniels,ATL,PG/SG,50.989091,3.801818,21.990909,16.400000,9.951818,2.609091,0.484,44.242727,0.620,7.081818,7.380000,21.413480,4.390727
21,jamal murray,DEN,PG/SG,76.819091,9.094545,15.319091,23.519091,4.286364,1.602727,0.467,60.605455,0.873,12.710000,7.752727,28.302747,11.095830
34,og anunoby,NYK,SG/SF,64.407273,8.647273,17.406364,7.976364,5.441818,2.981818,0.478,50.057273,0.790,10.026364,5.069091,23.927376,7.920827

In [42]:
week_stats = calc_week(curr_team)

In [43]:
week_stats

p/g     346.189091
r/g     100.822727
a/g      89.529091
s/g      21.021818
b/g       7.454545
to/g     32.352727
3/g      28.252727
fg%       0.501264
ft%       0.849551
dtype: float64

In [44]:
week_stats / benchmark_1

p/g     0.595850
r/g     0.464621
a/g     0.688685
s/g     0.575940
b/g     0.310606
to/g    0.557806
3/g     0.403610
fg%     1.019945
ft%     1.046269
dtype: float64

In [45]:
week_stats / benchmark_2

p/g     0.539025
r/g     0.429490
a/g     0.626078
s/g     0.512727
b/g     0.263878
to/g    0.622168
3/g     0.403610
fg%     0.991089
ft%     1.015272
dtype: float64

#### Round 7

In [46]:
curr_team = add_player(curr_team, 'cason wallace')

In [47]:
curr_team

,Player,Team,Pos,p/g,3/g,r/g,a/g,s/g,b/g,fg%,fga/g,ft%,fta/g,to/g,fgm/g,ftm/g
0,nikola jokic,DEN,C,102.313636,5.814545,46.031818,36.229091,5.069091,2.907273,0.565,68.842727,0.820,22.736364,11.778182,38.896141,18.643818
16,tyrese maxey,PHI,PG/SG,91.131818,11.480000,12.970909,22.475455,4.584545,1.528182,0.452,70.520000,0.870,18.338182,7.864545,31.875040,15.954218
22,jimmy butler,GSW,SF/PF,69.401818,2.944545,20.537273,19.530909,5.702727,1.341818,0.497,45.510000,0.850,25.010000,5.590909,22.618470,21.258500
37,kawhi leonard,LAC,SG/SF,83.341818,8.013636,21.282727,11.293636,5.665455,1.677273,0.490,63.885455,0.869,14.685455,7.119091,31.303873,12.761660

In [48]:
week_stats = calc_week(curr_team)

In [49]:
week_stats

p/g     346.189091
r/g     100.822727
a/g      89.529091
s/g      21.021818
b/g       7.454545
to/g     32.352727
3/g      28.252727
fg%       0.501264
ft%       0.849551
dtype: float64

In [50]:
week_stats / benchmark_1

p/g     0.595850
r/g     0.464621
a/g     0.688685
s/g     0.575940
b/g     0.310606
to/g    0.557806
3/g     0.403610
fg%     1.019945
ft%     1.046269
dtype: float64

In [ ]:
week_stats / benchmark_2

#### Round 8

In [47]:
curr_team = add_player(curr_team,'demar derozan')

C:\Users\zivaz\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\zivaz\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

In [52]:
curr_team

,Player,Team,Pos,p/g,3/g,r/g,a/g,s/g,b/g,fg%,fga/g,ft%,fta/g,to/g,fgm/g,ftm/g
0,nikola jokic,DEN,C,102.313636,5.814545,46.031818,36.229091,5.069091,2.907273,0.565,68.842727,0.820,22.736364,11.778182,38.896141,18.643818
16,tyrese maxey,PHI,PG/SG,91.131818,11.480000,12.970909,22.475455,4.584545,1.528182,0.452,70.520000,0.870,18.338182,7.864545,31.875040,15.954218
22,jimmy butler,GSW,SF/PF,69.401818,2.944545,20.537273,19.530909,5.702727,1.341818,0.497,45.510000,0.850,25.010000,5.590909,22.618470,21.258500
37,kawhi leonard,LAC,SG/SF,83.341818,8.013636,21.282727,11.293636,5.665455,1.677273,0.490,63.885455,0.869,14.685455,7.119091,31.303873,12.761660
48,christian braun,DEN,SG/SF,55.461818,4.510000,20.798182,9.728182,3.801818,2.087273,0.553,38.800909,0.780,10.287273,4.025455,21.456903,8.024073

In [53]:
week_stats = calc_week(curr_team)

In [54]:
week_stats

p/g     401.650909
r/g     121.620909
a/g      99.257273
s/g      24.823636
b/g       9.541818
to/g     36.378182
3/g      32.762727
fg%       0.508245
ft%       0.841693
dtype: float64

In [55]:
week_stats / benchmark_1

p/g     0.691310
r/g     0.560465
a/g     0.763517
s/g     0.680100
b/g     0.397576
to/g    0.627210
3/g     0.468039
fg%     1.034149
ft%     1.036592
dtype: float64

In [56]:
week_stats / benchmark_2

p/g     0.625381
r/g     0.518087
a/g     0.694107
s/g     0.605455
b/g     0.337763
to/g    0.699580
3/g     0.468039
fg%     1.004891
ft%     1.005882
dtype: float64

#### Round 9

In [48]:
curr_team = add_player(curr_team, 'donte divincenzo')

In [49]:
curr_team

,Player,Team,Pos,p/g,3/g,r/g,a/g,s/g,b/g,fg%,fga/g,ft%,fta/g,to/g,fgm/g,ftm/g
7,karl-anthony towns,NYK,PF/C,87.926364,7.193636,41.521818,11.629091,3.168182,2.460000,0.520,61.276364,0.840,20.239091,9.579091,31.863709,17.000836
6,kevin durant,HOU,SF/PF,107.270909,10.138182,21.245455,18.636364,2.981818,4.211818,0.514,74.918182,0.867,23.220909,12.933636,38.507945,20.132528
11,dyson daniels,ATL,PG/SG,50.989091,3.801818,21.990909,16.400000,9.951818,2.609091,0.484,44.242727,0.620,7.081818,7.380000,21.413480,4.390727
21,jamal murray,DEN,PG/SG,76.819091,9.094545,15.319091,23.519091,4.286364,1.602727,0.467,60.605455,0.873,12.710000,7.752727,28.302747,11.095830
34,og anunoby,NYK,SG/SF,64.407273,8.647273,17.406364,7.976364,5.441818,2.981818,0.478,50.057273,0.790,10.026364,5.069091,23.927376,7.920827
51,demar derozan,SAC,SF,78.570909,3.950909,14.499091,15.952727,3.615455,1.453636,0.472,60.791818,0.857,20.052727,5.628182,28.693738,17.185187
87,donte divincenzo,MIN,SG,48.454545,11.442727,14.797273,14.499091,4.920000,1.155455,0.426,39.509091,0.770,4.360909,6.448182,16.830873,3.357900

In [59]:
week_stats = calc_week(curr_team)

In [60]:
week_stats

p/g     463.784545
r/g     141.450000
a/g     114.650909
s/g      30.638182
b/g      11.256364
to/g     45.472727
3/g      42.043636
fg%       0.494146
ft%       0.843070
dtype: float64

In [61]:
week_stats / benchmark_1

p/g     0.798252
r/g     0.651843
a/g     0.881930
s/g     0.839402
b/g     0.469015
to/g    0.784013
3/g     0.600623
fg%     1.005461
ft%     1.038288
dtype: float64

In [ ]:
week_stats / benchmark_2

#### Round 10

In [50]:
curr_team = add_player(curr_team, 'devin vassel')

In [51]:
curr_team

,Player,Team,Pos,p/g,3/g,r/g,a/g,s/g,b/g,fg%,fga/g,ft%,fta/g,to/g,fgm/g,ftm/g
7,karl-anthony towns,NYK,PF/C,87.926364,7.193636,41.521818,11.629091,3.168182,2.460000,0.520,61.276364,0.840,20.239091,9.579091,31.863709,17.000836
6,kevin durant,HOU,SF/PF,107.270909,10.138182,21.245455,18.636364,2.981818,4.211818,0.514,74.918182,0.867,23.220909,12.933636,38.507945,20.132528
11,dyson daniels,ATL,PG/SG,50.989091,3.801818,21.990909,16.400000,9.951818,2.609091,0.484,44.242727,0.620,7.081818,7.380000,21.413480,4.390727
21,jamal murray,DEN,PG/SG,76.819091,9.094545,15.319091,23.519091,4.286364,1.602727,0.467,60.605455,0.873,12.710000,7.752727,28.302747,11.095830
34,og anunoby,NYK,SG/SF,64.407273,8.647273,17.406364,7.976364,5.441818,2.981818,0.478,50.057273,0.790,10.026364,5.069091,23.927376,7.920827
51,demar derozan,SAC,SF,78.570909,3.950909,14.499091,15.952727,3.615455,1.453636,0.472,60.791818,0.857,20.052727,5.628182,28.693738,17.185187
87,donte divincenzo,MIN,SG,48.454545,11.442727,14.797273,14.499091,4.920000,1.155455,0.426,39.509091,0.770,4.360909,6.448182,16.830873,3.357900

In [52]:
week_stats = calc_week(curr_team)

In [53]:
week_stats

p/g     514.438182
r/g     146.780000
a/g     108.612727
s/g      34.365455
b/g      16.474545
to/g     54.790909
3/g      54.269091
fg%       0.484260
ft%       0.829996
dtype: float64

In [54]:
week_stats / benchmark_1

p/g     0.885436
r/g     0.676406
a/g     0.835483
s/g     0.941519
b/g     0.686439
to/g    0.944671
3/g     0.775273
fg%     0.985346
ft%     1.022187
dtype: float64

In [55]:
week_stats / benchmark_2

p/g     0.800994
r/g     0.625261
a/g     0.759530
s/g     0.838182
b/g     0.583170
to/g    1.053671
3/g     0.775273
fg%     0.957469
ft%     0.991904
dtype: float64

#### Round 11

In [56]:
curr_team = add_player(curr_team, 'kelel ware')

In [57]:
curr_team

,Player,Team,Pos,p/g,3/g,r/g,a/g,s/g,b/g,fg%,fga/g,ft%,fta/g,to/g,fgm/g,ftm/g
7,karl-anthony towns,NYK,PF/C,87.926364,7.193636,41.521818,11.629091,3.168182,2.460000,0.520,61.276364,0.840,20.239091,9.579091,31.863709,17.000836
6,kevin durant,HOU,SF/PF,107.270909,10.138182,21.245455,18.636364,2.981818,4.211818,0.514,74.918182,0.867,23.220909,12.933636,38.507945,20.132528
11,dyson daniels,ATL,PG/SG,50.989091,3.801818,21.990909,16.400000,9.951818,2.609091,0.484,44.242727,0.620,7.081818,7.380000,21.413480,4.390727
21,jamal murray,DEN,PG/SG,76.819091,9.094545,15.319091,23.519091,4.286364,1.602727,0.467,60.605455,0.873,12.710000,7.752727,28.302747,11.095830
34,og anunoby,NYK,SG/SF,64.407273,8.647273,17.406364,7.976364,5.441818,2.981818,0.478,50.057273,0.790,10.026364,5.069091,23.927376,7.920827
51,demar derozan,SAC,SF,78.570909,3.950909,14.499091,15.952727,3.615455,1.453636,0.472,60.791818,0.857,20.052727,5.628182,28.693738,17.185187
87,donte divincenzo,MIN,SG,48.454545,11.442727,14.797273,14.499091,4.920000,1.155455,0.426,39.509091,0.770,4.360909,6.448182,16.830873,3.357900

In [70]:
week_stats = calc_week(curr_team)

In [71]:
week_stats

p/g     555.736364
r/g     170.858182
a/g     139.810000
s/g      42.789091
b/g      17.033636
to/g     60.530909
3/g      54.306364
fg%       0.484754
ft%       0.838420
dtype: float64

In [72]:
week_stats / benchmark_1

p/g     0.956517
r/g     0.787365
a/g     1.075462
s/g     1.172304
b/g     0.709735
to/g    1.043636
3/g     0.775805
fg%     0.986351
ft%     1.032561
dtype: float64

In [73]:
week_stats / benchmark_2

p/g     0.865296
r/g     0.727830
a/g     0.977692
s/g     1.043636
b/g     0.602961
to/g    1.164056
3/g     0.775805
fg%     0.958446
ft%     1.001970
dtype: float64

#### Round 12

In [ ]:
curr_team = add_player(curr_team, 'darius garland')

In [ ]:
curr_team

In [ ]:
week_stats = calc_week(curr_team)

In [ ]:
week_stats

In [ ]:
week_stats / benchmark_1

In [ ]:
week_stats / benchmark_2

#### Round 13

In [ ]:
curr_team = add_player(curr_team, 'd')

In [ ]:
curr_team

In [ ]:
week_stats = calc_week(curr_team)

In [ ]:
week_stats

In [ ]:
week_stats / benchmark_1

In [ ]:
week_stats / benchmark_2

## Theoretical strategies analysis

In [ ]:
from scipy.stats import binom

In [ ]:
def k_or_more(k, n):
  return 1 - binom.cdf(k - 1, n, 0.5)

In [ ]:
# 25% FT, 50% for rest
0.25 * k_or_more(4, 8) + 0.75 * k_or_more(5, 8)

In [ ]:
# 25% FT, 75% Reb, 50% rest
0.25 * 0.75 * k_or_more(3, 7) + 0.25 * 0.25 * k_or_more(4, 7) + \
0.75 * 0.75 * k_or_more(4, 7) + 0.75 * 0.25 * k_or_more(5, 7)

In [ ]:
# 25% FT, 65% Reb+BLK, 50% rest
0.25 * binom.pmf(2, 2, 0.65) * k_or_more(2, 6) + 0.25 * binom.pmf(1, 2, 0.65) * k_or_more(3, 6) + \
0.25 * binom.pmf(0, 2, 0.65) * k_or_more(4, 6) + 0.75 * binom.pmf(2, 2, 0.65) * k_or_more(3, 6) + \
0.75 * binom.pmf(1, 2, 0.65) * k_or_more(4, 6) + 0.75 * binom.pmf(0, 2, 0.65) * k_or_more(5, 6)

In [ ]:
# 5% FT, 70% Reb+BLK, 50% rest
0.05 * binom.pmf(2, 2, 0.70) * k_or_more(2, 6) + 0.05 * binom.pmf(1, 2, 0.70) * k_or_more(3, 6) + \
0.05 * binom.pmf(0, 2, 0.70) * k_or_more(4, 6) + 0.95 * binom.pmf(2, 2, 0.70) * k_or_more(3, 6) + \
0.95 * binom.pmf(1, 2, 0.70) * k_or_more(4, 6) + 0.95 * binom.pmf(0, 2, 0.70) * k_or_more(5, 6)

In [ ]:
# 5% FT, 60% PTS+Reb+BLK+FG%, 50% rest
0.05 * binom.pmf(4, 4, 0.60) * k_or_more(0, 4) + 0.05 * binom.pmf(3, 4, 0.60) * k_or_more(1, 4) + \
0.05 * binom.pmf(2, 4, 0.60) * k_or_more(2, 4) + 0.05 * binom.pmf(1, 4, 0.60) * k_or_more(3, 4) + \
0.05 * binom.pmf(0, 4, 0.60) * k_or_more(4, 4) + 0.95 * binom.pmf(4, 4, 0.60) * k_or_more(1, 4) + \
0.95 * binom.pmf(3, 4, 0.60) * k_or_more(2, 4) + 0.95 * binom.pmf(2, 4, 0.60) * k_or_more(3, 4) + \
0.95 * binom.pmf(1, 4, 0.60) * k_or_more(4, 4)